.DS_Store
.env
.env.*
!.env.example
**/node_modules/
**/.astro/
dist/
downloads/*
!downloads/asr-episodes/
downloads/asr-episodes/**
!downloads/asr-episodes/**/
!downloads/asr-episodes/**/*.md
!downloads/asr-episodes/**/*.json

.pnpm-store
