name: Build

on:
  push:
    branches:
      - dev
      - test-ci

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
        with:
          version: 7.9.3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "pnpm"
      - run: pnpm i --frozen-lockfile

      - name: Build
        run: pnpm build
      - run: "pwd"
      - run: "ls ${{ github.workspace}}/blog/.vitepress"
      - run: "ls ${{ github.workspace}}/blog/.vitepress/dist"

      # - name: Deploy Github Pages
      #   uses: peaceiris/actions-gh-pages@v3
      #   with:
      #     github_token: ${{ secrets.TOKEN }}
      #     publish_dir: blog/.vitepress/dist

      - name: Deploy Serve
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}
          ARGS: "-rltgoDzvO"
          SOURCE: "${{ github.workspace}}/blog/.vitepress/dist/"
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: ${{ secrets.REMOTE_TARGET }}
          EXCLUDE: "/node_modules/"
